$black:         #000;
$grayscale-cc:  #ccc;
$grayscale-fa:  #fafafa;
$grayscale-dd:  #ddd;
$grayscale-ad:  #adbbc4;
$grayscale-ee:  #eee;
$grayscale-31:  #313131;
$grayscale-314: #314351;
$grayscale-25:  #25333d;
$greyscale-79:  #798893;
$bluescale-ccb: #007CCB;
$bluescale-4e:  #273f4e;
$bluescale-cc:  #CCFBFF;
$redscale-22:   #F52F22;
$greenscale-e3: #f1ffe3;
$white:         #fff;

$grayscale-56: #565656;
$grayscale-74: #747474;
$grayscale-73: #737373;
$grayscale-aa: #aaaaaa;
$grayscale-bb: #bbbbbb;
$grayscale-31: #313131;
$grayscale-22: #22343c;
$grayscale-9a: #9a9a9a;
$grayscale-1c: #1c2c32;
$bluescale-004: #004a70;
$bluescale-007: #007cbb;
$bluescale-009: #0095D3;
$bluescale-d7: #D7E5EF;
$bluescale-d9: #d9e4ea;
$bluescale-e1: #e1f1f6;
$redscale-c9: #c92100;
$redscale-ff: #FF8400;
$redscale-e627: #e62700;
$greenscale-60: #60b515;