<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Bazel</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="'./graph'" routerLinkActive="active" class="nav-link nav-text">Graph</a>
      <a [routerLink]="'./grid'" routerLinkActive="active" class="nav-link nav-text">Grid</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>